*{
   margin:0;
   padding:0;

}
.hero{
    width:100%;
    height:100vh;
    position:relative;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    overflow:hidden;
}
.ocean{
    height:220px;
    position:absolute;
    bottom:0;
    width:100%;
    left:0;
}
.water1{
    height:100%;
    position:absolute;
    right:0;
    width:100vw;
  animation: water 0s linear infinite;
}
.boat{
    width:350px;
    position:absolute;
    bottom:20px;
    left:50%;
    transform:translateX(-50%);

}
.boat img{
   width:100%;
   -webkit-box-reflect: below 0 linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.6));
}
.cloud3{
    height:100%;
    width:100vw;
    position:absolute;
    right:0;
    animation:cloud 10s linear infinite;

}
@keyframes water1{
    0%{
        transform:translateX(0%);
       
    }
   
}